{
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "none",
	"semi": false,
	"singleQuote": true,
	"astroAllowShorthand": true,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
