---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog')
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}))
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
	<hgroup>
		<h1>
			{entry.data.title}
		</h1>
		<p class="text-fl-base">{entry.data.subheading}</p>
	</hgroup>
	<Content />
</Layout>
