@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--step--1: clamp(0.75rem, calc(0.65rem + 0.52vw), 1.06rem);
	--step-0: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
	--step-1: clamp(1.33rem, calc(1.07rem + 1.31vw), 2.12rem);
	--step-2: clamp(1.78rem, calc(1.37rem + 2.04vw), 3rem);
	--step-3: clamp(2.37rem, calc(1.74rem + 3.12vw), 4.24rem);
}

@layer base {
	.projects-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
		gap: 4rem;
	}

	br {
		margin-bottom: 12rem;
	}

	#hero p {
		margin-bottom: 1rem;
	}

	@font-face {
		font-family: 'Karla';
		font-weight: 400;
		src: url('/fonts/Karla-Regular.woff2') format('woff2'),
			url('/fonts/Karla-Regular.woff') format('woff');
	}
	@font-face {
		font-family: 'Karla';
		font-weight: 200;
		src: url('/fonts/Karla-ExtraLight.woff2') format('woff2'),
			url('/fonts/Karla-ExtraLight.woff') format('woff');
	}
	@font-face {
		font-family: 'Karla';
		font-weight: 700;
		src: url('/fonts/Karla-Bold.woff2') format('woff2'),
			url('/fonts/Karla-Bold.woff') format('woff');
	}
	@font-face {
		font-family: 'Karla';
		font-weight: 800;
		src: url('/fonts/Karla-ExtraBold.woff2') format('woff2'),
			url('/fonts/Karla-ExtraBold.woff') format('woff');
	}
}

@layer components {
	.button-base {
		@apply inline-block rounded-sm px-5 py-3 text-fl-base font-light;
	}
	.button-filled {
		@apply bg-black  text-light hover:bg-accent focus:outline-none focus:ring-2 focus:ring-accent focus:ring-opacity-75;
	}
	.button-outlined {
		@apply border border-black text-black hover:bg-accent focus:outline-none focus:ring-2 focus:ring-accent focus:ring-opacity-75;
	}
	.spacing-heading-body {
		@apply mb-8 lg:mb-12;
	}
	.spacing-heading-subheading {
		@apply mb-2;
	}
}
