@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--papery-complementary-grey: #dfd8e0ff;
	--papery-dark-23: #212322ff;
	--papery-less-dark: #6e7b77ff;
	--papery-orangey: #f5eaccff;
	--papery-papery: #f8f7efff;
	--papery-warm-grey: #f4ede7ff;
	--papery-whitish: #fcfbf8ff;

	--step--1: clamp(0.75rem, calc(0.65rem + 0.52vw), 1.06rem);
	--step-0: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
	--step-1: clamp(1.33rem, calc(1.07rem + 1.31vw), 2.12rem);
	--step-2: clamp(1.78rem, calc(1.37rem + 2.04vw), 3rem);
	--step-3: clamp(2.37rem, calc(1.74rem + 3.12vw), 4.24rem);

	--space-3xs: clamp(0.25rem, calc(0.21rem + 0.21vw), 0.38rem);
	--space-2xs: clamp(0.5rem, calc(0.42rem + 0.42vw), 0.75rem);
	--space-xs: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.13rem);
	--space-s: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
	--space-m: clamp(1.5rem, calc(1.25rem + 1.25vw), 2.25rem);
	--space-l: clamp(2rem, calc(1.67rem + 1.67vw), 3rem);
	--space-xl: clamp(3rem, calc(2.5rem + 2.5vw), 4.5rem);
	--space-2xl: clamp(4rem, calc(3.33rem + 3.33vw), 6rem);
	--space-3xl: clamp(6rem, calc(5rem + 5vw), 9rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.25rem, calc(0.08rem + 0.83vw), 0.75rem);
	--space-2xs-xs: clamp(0.5rem, calc(0.29rem + 1.04vw), 1.13rem);
	--space-xs-s: clamp(0.75rem, calc(0.5rem + 1.25vw), 1.5rem);
	--space-s-m: clamp(1rem, calc(0.58rem + 2.08vw), 2.25rem);
	--space-m-l: clamp(1.5rem, calc(1rem + 2.5vw), 3rem);
	--space-l-xl: clamp(2rem, calc(1.17rem + 4.17vw), 4.5rem);
	--space-xl-2xl: clamp(3rem, calc(2rem + 5vw), 6rem);
	--space-2xl-3xl: clamp(4rem, calc(2.33rem + 8.33vw), 9rem);

	/* Custom pairs */
	--space-s-l: clamp(1rem, calc(0.33rem + 3.33vw), 3rem);
	--space-xl-m: clamp(2.25rem, calc(3.25rem + -1.25vw), 3rem);
}

@layer base {
	* {
		line-height: 2;
	}

	.site-padding-x {
		@apply px-space-fl-s-l;
	}
	main {
		@apply pb-space-fl-3xl pt-space-fl-s;
	}
	hgroup {
		@apply grid gap-space-fl-2xs;
	}
	hgroup p {
		@apply font-extralight;
	}
	h1 {
		@apply text-fl-2xl;
	}
	h2 {
		@apply text-fl-xl;
	}
	h3 {
		@apply text-fl-lg;
	}
	h4,
	h5 {
		@apply text-fl-base font-bold;
	}
	a {
		@apply inline-block;
	}
	a,
	p,
	button,
	span :not(.tags > *) {
		@apply text-fl-base;
	}
	a:not(.logo, .button) {
		text-decoration: underline;
		text-underline-offset: 0.25em;
	}
	.hero-grid {
		@apply grid gap-space-fl-s-l  md:auto-cols-fr md:grid-flow-col md:grid-cols-[minmax(0,2fr)];
	}
	#hero p :not(:last-child) {
		margin-bottom: var(--step-0);
	}
	.techstack {
		@apply font-monospace;
	}
	.blog-post a {
		@apply font-bold;
	}
	.blog-post blockquote {
		@apply rounded-lg bg-zinc-100 p-space-fl-l;
	}
	.blog-post blockquote + p {
		@apply text-right;
	}
	.blog-post cite {
		@apply inline-block w-full;
	}
	:is(.blog-post cite) * {
		@apply w-full pb-space-fl-m;
	}
	.blog-post cite:not(:has(> *)) {
		@apply pb-space-fl-m;
	}
	.blog-post ul,
	ol {
		@apply grid gap-space-fl-s pl-space-fl-xl;
		list-style: outside;
	}
	blockquote :is(ul, ol) {
		@apply pl-space-fl-m;
	}
	.blog-post ul {
		list-style-type: disc;
	}
	.blog-post ol {
		list-style-type: decimal;
	}
	.blog-post li > p {
		@apply inline;
	}
	.blog-post li {
		@apply text-fl-base;
	}
	.blog-post hgroup {
		@apply mb-space-fl-2xl;
	}
	.blog-post h2 {
		@apply mb-space-fl-s mt-space-fl-2xl;
	}
	.blog-post h3 {
		@apply mb-space-fl-s mt-space-fl-m;
	}
	.blog-post h4,
	h5 {
		@apply mb-space-fl-2xs mt-space-fl-l;
	}

	.blog-post * + p:not(:is(h1, h2, h3, h4, h5, h6) + p, blockquote + p),
	.blog-post :is(p, ul, ol) + *:not(p) {
		@apply mt-space-fl-l;
	}

	.blog-post a:not(cite *) {
		@apply inline;
	}

	.blog-post pre {
		@apply my-space-fl-l p-space-fl-s;
	}
	.blog-post code {
		@apply whitespace-pre-wrap;
	}
	@font-face {
		font-family: 'Karla';
		font-weight: 400;
		src: url('/fonts/Karla-Regular.woff2') format('woff2'),
			url('/fonts/Karla-Regular.woff') format('woff');
	}
	@font-face {
		font-family: 'Karla';
		font-weight: 200;
		src: url('/fonts/Karla-ExtraLight.woff2') format('woff2'),
			url('/fonts/Karla-ExtraLight.woff') format('woff');
	}
	@font-face {
		font-family: 'Karla';
		font-weight: 700;
		src: url('/fonts/Karla-Bold.woff2') format('woff2'),
			url('/fonts/Karla-Bold.woff') format('woff');
	}
	@font-face {
		font-family: 'Karla';
		font-weight: 800;
		src: url('/fonts/Karla-ExtraBold.woff2') format('woff2'),
			url('/fonts/Karla-ExtraBold.woff') format('woff');
	}
}
