---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const isDev = import.meta.env.DEV

const blogEntries = isDev
	? await getCollection('blog')
	: await getCollection('blog', ({ data }) => {
			return data.isDraft !== true
		})
---

{
	blogEntries.length > 0 && (
		<section class="grid gap-space-fl-xl">
			<hgroup id="blog">
				<h2>{t('blog.heading')}</h2>
				<p class="text-fl-base">{t('blog.subheading')}</p>
			</hgroup>
			{blogEntries.map((entry) => (
				<p>
					{entry.data.isDraft && <strong>draft:</strong>}
					<a href={`/blog/${entry.slug}`}>{entry.data.title}</a>
				</p>
			))}
		</section>
	)
}
