---
import { getCollection } from 'astro:content'
import { t } from 'i18next'

const blogEntries = await getCollection('blog')
---

<section class="grid gap-space-fl-xl">
	<hgroup>
		<h2 class="text-fl-xl">{t('home.blog.heading')}</h2>
		<p class="text-fl-base">{t('home.blog.subheading')}</p>
	</hgroup>
	{
		blogEntries.map((entry) => (
			<a href={`/blog/${entry.slug}`} class="f">
				{entry.data.title}
			</a>
		))
	}
</section>
