---
import { t } from 'i18next'

const siteRepoUrl = process.env.SITE_REPO_URL || import.meta.env.SITE_REPO_URL
---

<div class="grid w-full place-items-center gap-space-fl-xl">
	<div class="grid gap-space-fl-s" set:html={t('footer.made')} />
	<a
		href={siteRepoUrl}
		target="_blank"
		rel="noopener"
		aria-label={t('footer.repo')}>{t('footer.repo')}</a
	>
</div>
