---
import { Image } from '@astrojs/image/components'
import { Trans, HeadHrefLangs } from 'astro-i18next/components'
import ContactButton from './ui/ContactButton.astro'
---

<section data-testid="hero" class="mb-16">
	<!-- <div data-testid="hero-img" class="flex w-full items-center justify-center">
		<Image
			src={heroImage}
			alt="Coding girl"
			aspectRatio="4:4"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div> -->
	<Trans i18nKey="home.hero">
		<h1 class="spacing-heading-subheading text-5xl font-black">
			SLOT 0 for i18n
		</h1>
		<p class="mb-6">SLOT 1 for i18n</p>
	</Trans>
	<div class="">
		<ContactButton />
	</div>
</section>
