---
import { Picture } from '@astrojs/image/components'
import { Trans, HeadHrefLangs } from 'astro-i18next/components'
import { t } from 'i18next'
import ContactButton from './ui/ContactButton.astro'

import heroImage from '@assets/images/me-bw.jpeg'
---

<section
	data-testid="hero"
	class="grid leading-relaxed lg:grid-flow-col lg:grid-cols-[minmax(0,2fr)_minmax(0,1fr)]"
	id="hero"
>
	<div class="grid gap-space-fl-xl lg:col-span-2">
		<hgroup class="grid gap-space-fl-s">
			<h1 class="text-fl-2xl">{t('home.hero.heading')}</h1>
			<p class="text-grey">{t('home.hero.subheading')}</p>
		</hgroup>
		<p class="leading-loose">{t('home.hero.what-raw')}</p>
		<p>{t('home.hero.cta')}</p>
		<div>
			<ContactButton />
		</div>
	</div>
	<div
		data-testid="hero-img"
		class="hidden h-0 min-h-full overflow-auto lg:block"
	>
		<Picture
			src={heroImage}
			alt="Tom Szwaja"
			widths={[400, 640]}
			sizes="33vw"
			aspectRatio="1395 :1887"
			loading="eager"
			class="h-full w-full object-cover object-top"
		/>
	</div>
</section>
