---
import ToggleTheme from '@components/ui/ToggleTheme.astro'
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar'
import { LanguageSelector } from 'astro-i18next/components'
import i18next from 'i18next'
import ContactButton from './ui/ContactButton.astro'
import { Icon } from 'astro-icon'

const menuItems = [
	{
		title: 'About',
		path: '/#hero'
	},
	{
		title: 'Blog',
		path: '/#blog'
	},
	{
		title: 'Projects',
		path: '/#projects'
	},
	{
		title: 'Socials',
		path: '/#socials'
	}
	// {
	// 	title: 'CV',
	// 	path: `locales/${i18next.language}/cv.pdf`,
	// 	attributes: {
	// 		type: 'application/pdf',
	// 		rel: 'author',
	// 		hreflang: `${i18next.language}`
	// 	}
	// }
]
---

<header
	data-testId="header"
	class="md:hero-grid site-padding-x py-space-fl-3xs fixed bottom-0 z-50 w-full items-baseline justify-between bg-papery-body-text text-papery-surface md:relative md:bottom-auto md:top-0 md:flex md:bg-papery-surface md:text-papery-body-text"
>
	<div class="hidden w-full items-baseline justify-between md:flex md:w-auto">
		<a href="/" class="logo text-papery-body-text">Tom Szwaja</a>
	</div>
	<nav class="w-full uppercase md:flex md:w-auto">
		<ul class="flex w-full items-baseline justify-between">
			{
				menuItems.map((item, ind) => (
					<>
						<li>
							<a
								aria-label="navigation link"
								{...(item.attributes || {})}
								href={item.path}
								class={`p-space-fl-s  hover:text-accent dark:hover:text-accent ${
									ind === 0 && 'pl-0'
								} ${ind === menuItems.length - 1 && 'pr-0'}`}
							>
								{item.title}
							</a>
						</li>
					</>
				))
			}
		</ul>
	</nav>
</header>
