---
import ProjectCard from '@components/ui/ProjectCard.astro'
import { getCollection } from 'astro:content'
import { t } from 'i18next'

const projects = await getCollection('projects')
---

<section data-testid="projects" id="projects" class="grid gap-space-fl-xl">
	<hgroup>
		<h2 class="text-fl-xl">
			{t('home.projects.heading')}
		</h2>
		<p class="text-fl-base">{t('home.projects.subheading')}</p>
	</hgroup>
	<div class="grid grid-cols-1 gap-space-fl-2xl sm:grid-cols-2">
		{
			// Array(6)
			// 	.fill(projects[0], 0)
			projects.map((project, i) => <ProjectCard {project} id={i} />)
		}
	</div>
	<!-- <a
		href="https://github.com/"
		target="_blank"
		rel="noopener"
		class="flex flex-row  hover:text-accent dark:hover:text-accent"
		aria-label="link to repository"
	>
		View full private projects archive
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="ml-1 h-6 w-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
		</svg>
	</a> -->
</section>
