---
import ProjectCard from '@components/ui/ProjectCard.astro'
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const projects = await getCollection('projects')
---

<section data-testid="projects" id="projects" class="grid gap-space-fl-xl">
	<hgroup>
		<h2>
			{t('projects.heading')}
		</h2>
		<p class="text-fl-base">{t('projects.subheading')}</p>
	</hgroup>
	<div class="grid grid-cols-1 gap-space-fl-2xl sm:grid-cols-2">
		{projects.map((project, i) => <ProjectCard {project} id={i} />)}
	</div>
</section>
