---
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import { SEO } from 'astro-seo'
import '../styles/base.css'

import i18next, { t } from 'i18next'
import { Trans, HeadHrefLangs } from 'astro-i18next/components'

export interface LayoutProps {
	title: string
}

const { title = t('site.defaultTitle') } = Astro.props as LayoutProps
---

<!DOCTYPE html>
<html lang={i18next.language} class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			{title}
			description="A heavily optimized description full of well-researched keywords."
		/>
		<HeadHrefLangs />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="bg-zinc-100">
		<Navbar />
		<div
			class="mx-auto grid max-w-screen-xl gap-space-fl-2xl bg-zinc-50 p-space-fl-s-l py-space-fl-s font-sans text-zinc-900 dark:bg-zinc-900 dark:text-light"
		>
			<slot />
			<Footer />
		</div>
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
