---
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import { SEO } from 'astro-seo'
import '../styles/base.css'

import i18next, { t } from 'i18next'
import { Trans, HeadHrefLangs } from 'astro-i18next/components'

export interface LayoutProps {
	title: string
	description: string
	ogType: 'website' | 'article'
	socialImage: {
		url: URL
		alt: string
	}
	twitterCardImgPath: string
}

const {
	title = t('site.defaultTitle'),
	description,
	ogType = 'website',
	socialImage,
	twitterCardImgPath
} = Astro.props as LayoutProps
---

<!DOCTYPE html>
<html lang={i18next.language} class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			{title}
			{description}
			openGraph={{
				basic: {
					title: title,
					type: ogType,
					image: socialImage.url.href
				},
				optional: {
					description
				},
				image: {
					alt: socialImage.alt
				}
			}}
			twitter={{
				card: 'summary_large_image',
				site: '@yes_tsxoxo'
			}}
		/>
		<HeadHrefLangs />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="me" href="https://mastodon.social/@tom__s" />
	</head>
	<body
		class="bg-zinc-100 font-sans text-zinc-900 dark:bg-zinc-900 dark:text-light"
	>
		<div class="mx-auto max-w-screen-xl">
			<Navbar />
			<slot />
			<Footer />
		</div>
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
