---
import { Icon } from 'astro-icon'
---

<div class="flex justify-center gap-8">
	<a
		href="https://github.com/return180bpm"
		target="_blank"
		rel="noopener"
		aria-label="github"
		><Icon
			class="h-8 hover:text-accent dark:hover:text-accent md:h-12"
			name="simple-line-icons:social-github"
		/></a
	>
	<a
		href="https://www.linkedin.com/in/tomszwa"
		target="_blank"
		rel="noopener"
		aria-label="linkedin"
		><Icon
			class="h-8 hover:text-accent dark:hover:text-accent md:h-12"
			name="simple-line-icons:social-linkedin"
		/></a
	>
	<a
		href="https://twitter.com/tomszwa"
		target="_blank"
		rel="noopener"
		aria-label="twitter"
		><Icon
			class="h-8 hover:text-accent dark:hover:text-accent md:h-12"
			name="simple-line-icons:social-twitter"
		/></a
	>
	<!-- <a
		href="mailto:tomszwadesign@gmail.com?subject=An offer You can't refuse&body=Hey Tom,%0A%0AI was just on your site and..."
		target="_blank"
		rel="noopener"
		aria-label="email"
		><Icon
			class="h-8 hover:text-accent dark:hover:text-accent md:h-12"
			name="simple-line-icons:envelope"
		/></a
	> -->
</div>
