---
import { Icon } from 'astro-icon'
import { t } from 'i18next'

const socials = [
	{
		label: 'LinkedIn',
		link: 'https://www.linkedin.com/in/tomszwa',
		icon: 'simple-line-icons:social-linkedin'
	},
	{
		label: 'Github',
		link: 'https://github.com/return180bpm',
		icon: 'simple-line-icons:social-github'
	}
]
---

<address
	id="socials"
	class="grid w-full gap-space-fl-m text-left not-italic lg:place-items-start"
>
	<h2 class="font-bold">{t('home.socials.heading')}</h2>
	<div class="grid w-full gap-space-fl-s lg:place-items-start">
		{
			socials.map(({ label, link, icon }) => (
				<div class="w-full text-center">
					<a
						class="flex p-space-fl-m pl-0"
						href={link}
						target="_blank"
						rel="noopener"
						aria-label={label}
					>
						{label}
					</a>
				</div>
			))
		}

		<!-- <Icon
	class="h-space-fl-m hover:text-accent dark:hover:text-accent"
	name={icon}
/> -->
		<!-- <a
		href="https://twitter.com/tomszwa"
		target="_blank"
		rel="noopener"
		aria-label="twitter"
		><Icon
			class="h-8 hover:text-accent dark:hover:text-accent md:h-12"
			name="simple-line-icons:social-twitter"
		/></a
	> -->
		<!-- <a
		href="mailto:tomszwadesign@gmail.com?subject=An offer You can't refuse&body=Hey Tom,%0A%0AI was just on your site and..."
		target="_blank"
		rel="noopener"
		aria-label="email"
		><Icon
			class="h-8 hover:text-accent dark:hover:text-accent md:h-12"
			name="simple-line-icons:envelope"
		/></a
	> -->
	</div>
</address>
