---
import { Icon } from 'astro-icon'

const socials = [
	{
		label: 'LinkedIn',
		link: 'https://www.linkedin.com/in/tomszwa',
		icon: 'simple-line-icons:social-linkedin'
	},
	{
		label: 'Github',
		link: 'https://github.com/return180bpm',
		icon: 'simple-line-icons:social-github'
	}
]
---

<address class="grid w-full place-items-center gap-space-fl-xl not-italic">
	<h2 class="text-fl-lg font-bold">Social</h2>
	<div class="grid place-items-center gap-space-fl-s">
		{
			socials.map(({ label, link, icon }) => (
				<div class="flex w-max items-center justify-center">
					<a
						class="flex w-max items-end justify-center gap-space-fl-s p-space-fl-m"
						href={link}
						target="_blank"
						rel="noopener"
						aria-label={label}
					>
						<span>{label}</span>
					</a>
				</div>
			))
		}

		<!-- <Icon
	class="h-space-fl-m hover:text-accent dark:hover:text-accent"
	name={icon}
/> -->
		<!-- <a
		href="https://twitter.com/tomszwa"
		target="_blank"
		rel="noopener"
		aria-label="twitter"
		><Icon
			class="h-8 hover:text-accent dark:hover:text-accent md:h-12"
			name="simple-line-icons:social-twitter"
		/></a
	> -->
		<!-- <a
		href="mailto:tomszwadesign@gmail.com?subject=An offer You can't refuse&body=Hey Tom,%0A%0AI was just on your site and..."
		target="_blank"
		rel="noopener"
		aria-label="email"
		><Icon
			class="h-8 hover:text-accent dark:hover:text-accent md:h-12"
			name="simple-line-icons:envelope"
		/></a
	> -->
	</div>
</address>
